p {
    font-size: 1.2rem !important;
}
h3 {
    letter-spacing: 2px;
    font-size: 1.9rem;
    font-weight: 100 !important;
}
.agent .agent-img {
    width: 400px;
    height: 500px;
}
.agent-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.agents .agent-head {
    line-height: 32px;
    position: absolute;
    bottom: 0;
    padding: 12px;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, .8));
}

.agent-head p:nth-child(2){
    border-bottom: 1px solid #101010;
}